.Container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin-top: 7rem;
}
.title {
  width: 55rem;
}

.span {
  color: #fd891c;
  font-size: 1.8rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}
.h1 {
  font-family: "Roboto Mono", monospace;
  color: #f7f5f8;
  border-bottom: 1px solid #fd891c;
  width: fit-content;
}
