.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  width: 100%;
  margin-bottom: 1rem;
}

.logo {
  margin: 3rem;
}
.logo {
  width: 4rem;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.NavLink {
  margin: 1.5rem;
  text-decoration: none;
  font-weight: 600;
  color: #ccd6f6;
  font-size: 1rem;
  transition: color 0.2s;
}
.NavLink:hover {
  color: #64ffda;
}

.span {
  color: #64ffda;
  font-family: mono;
  font-weight: 300;
  margin: 0.2rem;
}

.divButton {
  display: flex;
  align-items: center;
  margin: 2.5rem;
}
.button {
  background-color: transparent;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  color: #64ffda;
  border: solid 1px #64ffda;
  transition: background-color 0.2s;
}
.button:hover {
  background-color: rgba(100, 255, 218, 0.1);
  outline: none;
}
.button:active {
  background-color: rgba(100, 255, 218, 0.1);
  outline: none;
}
