.container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: #0a192f; */
  background-color: #020001;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  margin-bottom: 1rem;
  opacity: 0.9;
  /* box-shadow: rgba(2, 12, 27, 0.7); */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8),
    inset 0 0 40px rgba(0, 0, 0, 0.1);
}

.logo {
  margin: 3rem;
}
.logo {
  width: 4rem;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.NavLink {
  margin: 1.5rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 600;
  color: #f7f5f8;
  font-size: 1.1rem;
  transition: color 0.2s;
  display: flex;
  align-items: center;
}
.NavLink:hover {
  color: #fd891c;
}

.iconos {
  color: #fd891c;
  font-family: "Roboto Mono", monospace;
  margin: 0.5rem;
}

.divButton {
  display: flex;
  align-items: center;
  margin: 2.5rem;
}
.button {
  background-color: transparent;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  color: #fd891c;
  border: solid 1px #fd891c;
  transition: background-color 0.2s;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}
.button:hover {
  background-color: rgba(100, 255, 218, 0.1);
  outline: none;
}
.button:active {
  background-color: rgba(100, 255, 218, 0.1);
  outline: none;
}
